<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>product_name</key>
		<string>全部</string>
		<key>product_id</key>
		<integer>0</integer>
		<key>product_iconName</key>
		<string>product_type_all</string>
	</dict>
	<dict>
		<key>product_name</key>
		<string>手机数码</string>
		<key>product_id</key>
		<integer>0</integer>
		<key>product_iconName</key>
		<string>product_type_phone</string>
	</dict>
	<dict>
		<key>product_name</key>
		<string>电脑办公</string>
		<key>product_id</key>
		<integer>0</integer>
		<key>product_iconName</key>
		<string>cproduct_type_computer</string>
	</dict>
	<dict>
		<key>product_name</key>
		<string>钟表首饰</string>
		<key>product_id</key>
		<integer>0</integer>
		<key>product_iconName</key>
		<string>product_type_jewelry</string>
	</dict>
	<dict>
		<key>product_name</key>
		<string>家用电器</string>
		<key>product_id</key>
		<integer>0</integer>
		<key>product_iconName</key>
		<string>product_type_appliances</string>
	</dict>
	<dict>
		<key>product_name</key>
		<string>化妆个护</string>
		<key>product_id</key>
		<integer>0</integer>
		<key>product_iconName</key>
		<string>product_type_makeup</string>
	</dict>
	<dict>
		<key>product_name</key>
		<string>食品饮料</string>
		<key>product_id</key>
		<integer>0</integer>
		<key>product_iconName</key>
		<string>product_type_food</string>
	</dict>
	<dict>
		<key>product_name</key>
		<string>家居家纺</string>
		<key>product_id</key>
		<integer>0</integer>
		<key>product_iconName</key>
		<string>product_type_home_textile</string>
	</dict>
	<dict>
		<key>product_name</key>
		<string>礼品箱包</string>
		<key>product_id</key>
		<integer>0</integer>
		<key>product_iconName</key>
		<string>product_type_bags</string>
	</dict>
	<dict>
		<key>product_name</key>
		<string>运动户外</string>
		<key>product_id</key>
		<integer>0</integer>
		<key>product_iconName</key>
		<string>product_type_game</string>
	</dict>
	<dict>
		<key>product_name</key>
		<string>营养保健</string>
		<key>product_id</key>
		<integer>0</integer>
		<key>product_iconName</key>
		<string>product_type_healthy</string>
	</dict>
	<dict>
		<key>product_name</key>
		<string>母婴</string>
		<key>product_id</key>
		<integer>0</integer>
		<key>product_iconName</key>
		<string>product_type_baby</string>
	</dict>
	<dict>
		<key>product_name</key>
		<string>汽车</string>
		<key>product_id</key>
		<integer>0</integer>
		<key>product_iconName</key>
		<string>product_type_car</string>
	</dict>
	<dict>
		<key>product_name</key>
		<string>房屋</string>
		<key>product_id</key>
		<integer>0</integer>
		<key>product_iconName</key>
		<string>product_type_house</string>
	</dict>
	<dict>
		<key>product_name</key>
		<string>其他商品</string>
		<key>product_id</key>
		<integer>0</integer>
		<key>product_iconName</key>
		<string>product_type_other</string>
	</dict>
	<dict>
		<key>product_name</key>
		<string>限购</string>
		<key>product_id</key>
		<integer>0</integer>
		<key>product_iconName</key>
		<string>product_type_limited</string>
	</dict>
</array>
</plist>
